{% block page_product_detail_review_item_blogposts %}
    {% set reviewVerifcation = 0 %}
    {% set customerId = review.customerId %}
    {% set customerArray = sschreier_get_customer_data_by_product_id(customerId, context) %}
    {% set customer = customerArray['customer'] %}
    {% set customerFirstname = customer.firstName %}
    {% set customerLastname = customer.lastName %}

    <div class="product-detail-review-item"
         itemscope
         itemtype="https://schema.org/Comment">
        {% block page_product_detail_review_item_meta_published_blogposts %}
            <meta itemprop="datePublished" content="{{ review.createdAt|date }}">
        {% endblock %}

        {% block page_product_detail_review_item_meta_author_blogposts %}
            <div itemprop="author" itemtype="https://schema.org/Person" itemscope>
                <meta itemprop="name" content="{{ customerFirstname }} {{ customerLastname }}">
            </div>
        {% endblock %}

        {% block page_product_detail_review_item_info_blogposts %}
            <div class="row product-detail-review-item-info">
                {% block page_product_detail_review_item_info_alert_blogposts %}
                    {% if review.status == false %}
                        <div class="col-12 product-detail-review-item-hint">
                            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                type: "info",
                                content: "sschreier.createblogposts.detail.reviewNotPublicYetAlert"|trans|sw_sanitize
                            } %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block page_product_detail_review_item_info_date_blogposts %}
                    <div class="col-12 product-detail-review-item-date">
                        {% sw_include '@SschreierCreateBlogPosts/storefront/custom/review-item-info-date.html.twig' %}
                    </div>
                {% endblock %}

                {% block page_product_detail_review_item_title_blogposts %}
                    <div class="col-md-auto product-detail-review-item-title">
                        <p class="h5">
                            {{ review.title|striptags|sw_sanitize }}
                        </p>
                    </div>
                {% endblock %}

                {% block page_product_detail_review_item_info_verify_blogposts %}
                    <div class="col product-detail-review-item-verify">
                        {% if reviewVerifcation == 1 %}
                            <a data-bs-toggle="tooltip"
                               data-placement="bottom"
                               title="{{ "detail.reviewVerifiedItemTooltip"|trans|striptags }}">
                                {% sw_icon 'checkmark-circle' style {
                                    'color': 'primary',
                                    'size': 'sm'
                                } %}
                            </a>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_product_detail_review_item_content_blogposts %}
            <p class="product-detail-review-item-content" itemprop="text">
                {{ review.content|sw_sanitize }}
            </p>
        {% endblock %}

        {% block page_product_detail_review_item_comment_blogposts %}
            {% if review.comment %}
                {% sw_include '@SschreierCreateBlogPosts/storefront/custom/review-item-comment.html.twig' %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
