{% block review_language_blogposts %}
    <div class="col product-detail-review-language">
        {% if foreignReviewsCount > 0 %}
            <form class="product-detail-review-language-form"
                  action="{{ path('frontend.product.reviews', { productId: product.id, parentId: product.parentId }) }}"
                  method="post"
                  data-form-ajax-submit="true"
                  data-form-ajax-submit-options='{{ formAjaxSubmitOptions|json_encode }}'>

                {% if app.request.get('limit') %}
                    <input type="hidden" name="limit" value="{{ app.request.get('limit') }}">
                {% endif %}

                {% if app.request.get('sort') %}
                    <input type="hidden" name="sort" value="{{ app.request.get('sort') }}">
                {% endif %}

                <div class="form-check form-switch">
                    <input type="checkbox"
                           class="form-check-input"
                           id="showForeignReviews"
                           value="filter-language"
                           name="language"
                           {% if app.request.get('language') %}checked="checked"{% endif %}>
                    <label class="custom-control-label form-label"
                           for="showForeignReviews">
                        <small>{{ "sschreier.createblogposts.detail.reviewLanguageFilterLabel"|trans|sw_sanitize }}</small>
                    </label>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
